@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

a {
  text-decoration: none;
}
* {
  font-family: "Poppins", sans-serif;
}
.header-portofolio {
  height: 100vh;
  position: relative;
}
.header-portofolio::before {
  background-image: url("../images/jabat-tangan.jpg");
  height: 100vh;
  width: 100%;
  z-index: -1;
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.4);
}

.wrapper {
  color: white;
  position: absolute;
  top: 50vh;
}
.wrapper h1 {
  font-size: 5rem;
  font-weight: 600;
  font-style: bold;
}
.content-portofolio {
  position: relative;
}
.content-portofolio .frame-image {
  width: 98%;
  margin: auto;
  height: 18rem;
}
.content-portofolio .frame-image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.content-portofolio .frame-image:hover img {
  cursor: pointer;
  transform: scale(1.1);
}
.content-portofolio .content-image .title {
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
}
.content-portofolio .content-image .description {
  font-size: 13px;
  color: #424242;
  font-weight: 300;
  margin-top: 10px;
}
.content-portofolio .title-produk {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 2rem;
}
.porto-2 {
  margin-top: 3rem;
}
.card-porto {
  display: none;
}
.card-porto:nth-child(1),
.card-porto:nth-child(2),
.card-porto:nth-child(3),
.card-porto:nth-child(4) {
  display: block;
}
.content-portofolio .icon-tools {
  margin: auto;
  width: 50%;
  height: 4.5rem;
  filter: grayscale();
  cursor: pointer;
}
.content-portofolio .icon-tools img {
  width: 100%;
  height: 100%;
}
.content-portofolio .icon-tools:hover {
  filter: none;
}

.header-blog {
  height: 100vh;
  position: relative;
}
.header-blog::before {
  background-image: url("../images/news.jpg");
  height: 100vh;
  width: 100%;
  z-index: -1;
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.4);
}
.content-blog {
  position: relative;
}
.content-blog .blog-images {
  width: 100%;
  height: 15rem;
}
.content-blog .blog-images img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.content-blog .items-blog {
  padding: 0 10px;
}
.content-blog .items-blog .title-blog h3 {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}
.content-blog .items-blog .date-create {
  color: #9b9b99;
  font-size: 14px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 12px;
}
.content-blog .items-blog .text-blog p {
  font-size: 14px;
  color: #424242;
  font-weight: 300;
  line-height: 1.7em;
  margin-bottom: 20px;
}
.content-blog .items-blog .date-create .fa {
  margin-right: 10px;
}
.content-blog .items-blog .btn-read {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 30px;
}
.content-blog .items-blog .btn-read:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .wrapper h1 {
    font-size: 3rem;
  }
  .content-portofolio .frame-image {
    height: 13rem;
    width: 100%;
  }
  .content-portofolio .icon-tools {
    width: 80%;
    height: 5rem;
    filter: none;
    margin-bottom: 10px;
  }
  .content-blog .items-blog .title-blog h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .content-blog .items-blog .btn-read {
    display: block;
    text-align: center;
    align-items: center;
    font-size: 14px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1020px) {
  .wrapper h1 {
    font-size: 5rem;
  }
  .content-portofolio .frame-image {
    height: 10rem;
    width: 100%;
  }
}
